.checkerboard {
  display: inline-block;
}

.board-row {
  display: flex;
}

.white-cell {
  width: 50px;
  height: 50px;
  background-color: #f0d9b5;
}

.black-cell {
  width: 50px;
  height: 50px;
  background-color: #b58863;
}

.piece {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.W {
  background-color: #fff;
}

.B {
  background-color: #000;
}

.king {
  border: 4px solid gold;
}
