.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.checkers-container {
  text-align: center;
}
